<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RocketbeansPIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <RocketbeansPIP.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>640, 320</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>640, 320</value>
            </setting>
            <setting name="ChatState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastNotifiedVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastStreamId" serializeAs="String">
                <value />
            </setting>
        </RocketbeansPIP.Properties.Settings>
    </userSettings>
</configuration>
